@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test!! Lets make a change and commit to repo, and see what happens!</a>.</p>
</div>
