@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test!! I've made some changes to the fork, and want to initiate a pull.'</a>.</p>
</div>
